@import "./variables.css";
@import "./media.css";
/**
 * Global styles for the application.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-900);
  background-color: var(--gray-100);
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* sr-only 
sr-only is used to hide elements from the screen but keep them accessible to users of assistive technologies.
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
